# Debug files
debug/

# Release files
release/

# Makefiles
Makefile
Makefile.Debug
Makefile.Release

# Plugin
mh4u-tool_plugin_import.cpp

# .o files
*.o

# moc files
moc_*

# executables
MH4U-Tool

# Generated textfiles
MH4U-Tool-Custom-Weapons.txt

# ui files
ui_*

# user files
*.pro.*
MH4U-Tool.pro.user

# object files
object_script.*
